<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/data/jpa
        https://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Scan automatique des composants -->
    <context:component-scan base-package="org.example.smartroute"/>

    <!-- Scan des repositories JPA -->
    <jpa:repositories base-package="org.example.smartroute.repositories"/>

    <!-- Scan des mappers et utils -->
    <context:component-scan base-package="org.example.smartroute.mappers"/>
    <context:component-scan base-package="org.example.smartroute.utils"/>

    <!-- Distance Calculator -->
    <bean id="distanceCalculator" class="org.example.smartroute.utils.DistanceCalculator"/>

    <!-- Optimizers avec injection du distanceCalculator -->
    <bean id="nearestNeighborOptimizer" class="org.example.smartroute.services.impl.NearestNeighborOptimizer">
        <constructor-arg ref="distanceCalculator"/>
    </bean>

    <bean id="clarkeWrightOptimizer" class="org.example.smartroute.services.impl.ClarkeWrightOptimizer">
        <constructor-arg ref="distanceCalculator"/>
    </bean>

    <!-- Mappers générés par MapStruct -->
    <bean id="tourMapper" class="org.example.smartroute.mappers.TourMapperImpl"/>
    <bean id="vehicleMapper" class="org.example.smartroute.mappers.VehicleMapperImpl"/>
    <bean id="warehouseMapper" class="org.example.smartroute.mappers.WarehouseMapperImpl"/>
    <bean id="deliveryMapper" class="org.example.smartroute.mappers.DeliveryMapperImpl"/>

    <!-- Services -->
    <bean id="tourService" class="org.example.smartroute.services.impl.TourService">
        <constructor-arg ref="tourRepository"/>
        <constructor-arg ref="tourMapper"/>
        <constructor-arg ref="nearestNeighborOptimizer"/>
        <constructor-arg ref="clarkeWrightOptimizer"/>
    </bean>

    <bean id="vehicleService" class="org.example.smartroute.services.impl.VehicleService">
        <constructor-arg ref="vehicleRepository"/>
        <constructor-arg ref="vehicleMapper"/>
    </bean>

    <bean id="warehouseService" class="org.example.smartroute.services.impl.WarehouseService">
        <constructor-arg ref="warehouseRepository"/>
        <constructor-arg ref="warehouseMapper"/>
    </bean>

    <bean id="deliveryService" class="org.example.smartroute.services.impl.DeliveryService">
        <constructor-arg ref="deliveryRepository"/>
        <constructor-arg ref="deliveryMapper"/>
    </bean>

</beans>
